In [2]:
x = 1
if x == 1:
    print(True)

True

In [4]:
x = 'after'
if x == 'after':
    print(True)

True

In [5]:
x = 1
if x == 2:
    print(True)
else :
    print(False)

False

In [7]:
x = 'after'
if x == 'befor':
    print(True)
else :
    print(False)

False

In [8]:
x = 3
if x > 2:
    print(True)
else :
    print(False)

True

In [9]:
x = 3
if x < 4:
    print(True)
else:
    print(False)

True

In [11]:
x = 3
if x >= 3:
    print(True)
else :
    print(False)

True

In [12]:
x = 3
if x >= 4:
    print(True)
else :
    print(False)

False

In [14]:
x = 1
if x >= 3:
    print(True)
else :
    print(False)

False

In [16]:
x = 3
if x > 3:
    print(True)
else :
    print(False)

False

In [24]:
x = 3
if x == 3 or x == 4:
    print(True)
else :
    print(False)

True

In [20]:
x = 3
if x != 4:
    print(True)
else :
    print(False)

True

In [21]:
x = 3
y = 4
if x == 3 and y == 4:
    print(True)
else :
    print(False)

True

In [25]:
x = 3
if x == 5 or x == 4:
    print(True)
else :
    print(False)

False

In [26]:
x = 3
if x != 3:
    print(True)
else :
    print(False)

False

In [27]:
x = 3
y = 4
if x == 3 and y == 6:
    print(True)
else :
    print(False)

False

In [29]:
x = [1,2,3]
if 2 in x:
    print(True)
else :
    print(False)

True

In [30]:
x = [1,2,3]
if 5 in x:
    print(True)
else :
    print(False)

False

In [34]:
x = [1,2,3]
y = x
if x is y :
    print(True)
else:
    print(False)

True

In [35]:
x = [1,2,3]
y = [1,2,3]
if x is y :
    print(True)
else:
    print(False)

False

In [37]:
x = 3
y = 4
if x == 4 or y == 3:
    print(True)
elif x == 3 and y ==3:
    print(True)
else :
    print(False)

False

In [39]:
a = 5
b = 8
if a > 6 and b != 7:
    print(True)
elif a == 4 or b == 9 :
    print(True)
else :
    print(False)

False

In [42]:
#a = [0,1,2,3,4,5]
for i in [0,1,2,3,4,5] :
    print(i)

0
1
2
3
4
5

In [44]:
my_list = [0,1,2,3,4,5]
for i in my_list:
    print(i)

0
1
2
3
4
5

In [46]:
for i in my_list[2::2]:
    print(i)

2
4

In [47]:
for i in my_list[1::2]:
    print(i)

1
3
5

In [48]:
for i in my_list[0:3]:
    print(i)

0
1
2

In [50]:
for i in my_list[3:4]:
    print(i)

3

In [52]:
for i in my_list[:]:
    if i != 3:
        print(i)

0
1
2
4
5

In [53]:
for i in my_list[2:5]:
    print(i)

2
3
4

In [54]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list[0:1]:
    print(i)

okinawa

In [1]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    if i != 'tokyo':
        print(i)

okinawa
osaka
fukuoka
hokkaido

In [2]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    if len(i) >=6:
        print(i)

okinawa
fukuoka
hokkaido

In [57]:
my_list = [0,1,2,3,4,5]

In [65]:
my_list = [0,1,2,3,4,5]
def a():
    a = 0
    for i in my_list:
        #i += int(i)
        a += int(i)
        #print(i)
        print(a)
    #return i
    return  a    
        
x = a()        
print(x)

0
1
3
6
10
15
15

In [68]:
my_list = [0,1,2,3,4,5]
a =0
for i in my_list[2::2]:
    a += int(i)
print(a)

6

In [71]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(0,11):
    if i == 4:
        break
    print(i)

In [ ]:
for i in range(11):
    if i == 3 :
        continue
    print(i)

In [ ]:
my_str = 'okinawa'
for i in my_str:
    print(i)

In [86]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    print(i.upper())

OKINAWA
TOKYO
OSAKA
FUKUOKA
HOKKAIDO

In [5]:
a = 0
while (a < 10):
    #print("a =" + str(a))
    print(a)
    a += 1

0
1
2
3
4
5
6
7
8
9

In [3]:
a = 0
while (a < 10):
    if (a % 2 == 0) and a != 0:
        print(a)
    a += 1

2
4
6
8

In [17]:
f = open('Hello.txt','w')
f.write('Hello!!')
f.close()

In [19]:
f = open('Hello.txt','r')
a = f.readlines()
line = f.readline()
print(a[0])
print(line)

Hello!!